<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module">
		<iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/3224728/latest-rides/55ca6fc034446998c5f9f3ec3eec20b660982dbc'></iframe>
	</div>

	<div class="sidebar-module">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ReubenIngber" data-widget-id="364473593771487232">Tweets by @ReubenIngber</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
	</div>	
	<div class="sidebar-module">
		<h4>Archives</h4>
		<ol class="list-unstyled">
			<li><a href="#">March 2014</a></li>
			<li><a href="#">February 2014</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">December 2013</a></li>
			<li><a href="#">November 2013</a></li>
			<li><a href="#">October 2013</a></li>
			<li><a href="#">September 2013</a></li>
			<li><a href="#">August 2013</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">June 2013</a></li>
			<li><a href="#">May 2013</a></li>
			<li><a href="#">April 2013</a></li>
		</ol>
	</div>
	<div class="sidebar-module">
		<h4>Elsewhere</h4>
		<ol class="list-unstyled">
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
		</ol>
	</div>
</div><!-- /.blog-sidebar -->