<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reuben Ingber</title>
	<!-- <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'> -->
	<link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/main.css"

</head>
<body>
	<div class="home-panel home-panel__half" style="background-color: #F16B6F;">
		<a href="/work" class="home-panel__link">
			<div class="home-panel__content-wrapper">
				<i class="site__icon work"></i>
				<h1 class="home-panel__title">Web Developer</h1>
			</div>
		</a>	
	</div>
	<div class="home-panel home-panel__half" style="background-color: #C5C6B6;">
		<a href="/triathlon" class="home-panel__link">
			<div class="home-panel__content-wrapper">
				<i class="site__icon triathlon"></i>
				<h1 class="home-panel__title">Aspiring Triathlete</h1>
			</div>
		</a>	
	</div>
	<div class="home-panel home-panel__full" style="background-color: #AACD6E;">
		<a href="http://howtoholdapencil.com" target="_blank" class="home-panel__link">
			<div class="home-panel__content-wrapper">
				<i class="site__icon podcast left"></i>
				<h1 class="home-panel__title right">Podcast</h1>
			</div>
		</a>	
	</div>

	<div class="home-panel home-panel__small" style="background-color: #fff;">
		<div class="home-panel__content-wrapper">
			<ul class="footer-links">
				<li><a href="#" data-modal data-content="about" class="home-panel__link">About</a></li>
				<li><a href="#" data-modal data-content="now" class="home-panel__link">Now</a></li>
				<li><a href="#" data-modal data-content="contact" class="home-panel__link">Contact</a></li>
			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>